*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#pg1Body{
    background-color: rgb(236, 236, 237);
}
main{
    background-color: rgb(236, 236, 237);
}
#acc{
    width: 100%;
}
#the_firstline{
    background-color: rgb(236, 236, 237);
}
header{
    background-color: white;
}
#first_C1 img{
    width: 4%;
}
#first_C1 a{
    color: #F68B1E;
    font-size: .8rem;
}
#first_C2 a img{
    width: 10%;
}
#first_C2{
    /* align-content: center; */
}
#HRC1Jumimg{
    width: 60%;
}
#HRC1 i{
    width:10%;
}
#HRC1But{
    font-size: 1.5em;
}

/* offCanvass Start */
#canBody{
    font-size: .5rem;
}
#canBody a{
    text-decoration: none;
    display: block;
    font-size: .75rem;
    font-weight: 400;
    color: black;
} 
#canBody a:active{
    background-color: #F68B1E;
} 
#canBody a:hover{
    color: #F68B1E;
} 
#canBody a{
    padding: 5px 0px;
}
#can1{
    font-size: .8rem;
}
#can2 div{
    font-size: .8rem;
}
#can3 div{
    font-size: .8rem;
}
#can4 div{
    font-size: .8rem;
}
#can4 div span{
    color: #F68B1E;
}
#can5 a{
    padding-block: 10px;
}
/* #offcanvas End */

/* Navbar dropdown start */
#HRC2 button{
    background-color: #F68B1E;
}
#HRC3{
    font-weight: 500;
}
#HRC3MainLink > i{
    font-size: 1.5rem;
    font-weight: bolder;
}
#HRC3MainLink > span > i{
    font-size: .8rem;
    font-weight: bolder;
}
#HRC3MainLink:hover{
    color: #F68B1E;
}
#drop1Content{
    width: 200px;
    font-weight: 350;
    font-size: .875rem;
}
#drop1Content li a{
    padding-block: 8px;
    text-decoration: none;
    color: black;
    display: block;
}
#drop1Content li{
    padding: 0;
}
#drop1Content li a:hover{
    background-color: rgba(128, 128, 128, 0.2);
    font-weight: 500;
}
#drop1Content li button{
    background-color: rgb(246, 139, 30);
    width: 100%;
    color: white;
}
#drop2Content{
    width: 200px;
    font-weight: 350;
    font-size: .875rem;
}
#drop2Content li a{
    padding-block: 12px;
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 20px;
}
#drop2Content li{
    padding: 0;
}
#drop2Content li a:hover{
    background-color: rgba(128, 128, 128, 0.226);
    font-weight: 500;
}
#drop2Content li button{
    background-color: #F68B1E;
    width: 100%;
    color: white;
}
/* Navbar dropdown end */

#mainCon{
    background-color: rgb(236, 236, 237);
}
#mainCon s{
    font-size: .8em;
    color: rgba(0, 0, 0, 0.696);
}

/* Row 1: Dropend */
.R1drop{
    position: relative;
}
.dropEndContent{
    border-radius: 0 5px 5px 0;
    background-color: white;
    color: black;
}
#R1drop1:hover > #dropEndContent1{
    display: block;
    left: 183;
    top: 0;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    background-color: white;
    font-size: 0.6rem;
}
/* #dropEndContent1{
    text-decoration: none;
    font-size: .8rem;
    color: #F68B1E;  
    
} */
#R1drop2:hover > #dropEndContent2{
    display: block;
    left: 183;
    top: -35;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}

#R1drop3:hover > #dropEndContent3{
    display: block;
    left: 183;
    top: -72.5;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}

#R1drop4:hover > #dropEndContent4{
    display: block;
    left: 183;
    top: -108;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}
#R1drop5:hover > #dropEndContent5{
    display: block;
    left: 183;
    top: -143;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}
#R1drop6:hover > #dropEndContent6{
    display: block;
    left: 183;
    top: -179;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}
#R1drop7:hover > #dropEndContent7{
    display: block;
    left: 183;
    top: -211.5;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}
#R1drop8:hover > #dropEndContent8{
    display: block;
    left: 183;
    bottom: -134.5px;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}
#R1drop9:hover > #dropEndContent9{
    display: block;
    left: 183;
    bottom: -95.5px;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}
#R1drop10:hover > #dropEndContent10{
    display: block;
    left: 183;
    bottom: -59px;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}
#R1drop11:hover > #dropEndContent11{
    display: block;
    left: 183;
    bottom: -34px;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}
#R1drop12:hover > #dropEndContent12{
    display: block;
    left: 183;
    bottom: 0;
    width: 765px;
    height: 407px;
    border-radius: 0 5px 5px 0;
    color: rgba(0, 0, 0, 0.034);
    background-color: white;
    font-size: 0.6rem;
}
#R1{
    column-gap: 1em;
}
#R1C1{
    background-color: white;
    padding-block: 0;
    border-radius: 5px;
}
#R1C1:hover{
    border-radius: 5px 0 0 5px;
}
#R1C1 div a{
    text-decoration: none;
    display: block;
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.8);
} 
#R1C1 div a:hover{
    color: #F68B1E;
    border-radius: 0 5px 5px 0;
} 
#R1C1 > div{
    padding: 3px 0px;
}
#R1C3_Jforce{
    margin-top: 2.9rem;
}
#R1C3_Jforce img{
    width: 100%;
    height: 43%;
}
#R1C3_Box{
    font-size: .9rem;
    width: 100%;
    height: 45%;
    background-color: white; 
    padding: 8px 4px;
    font-weight: 500;
}
#R1C3_Box small{
    font-size: .8rem; 
    font-weight: 200; 
}
#R1C3_Box img{
    width: 18%;
}
#R1C3_Box > div{
    padding: 10px 5px;
}
#R2{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R2 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R2 a{
    text-decoration: none;
    color: black;
}
.horizontal-scroll{
    overflow-x: scroll;
    white-space: nowrap;
}
.horizontal-scroll .col{
    display: inline-block;
    float: none;
}
#R3{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R3 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R3 a{
    text-decoration: none;
    color: black;
}
#R3Head{
    background-color: rgb(230, 22, 1);
}
#R4{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R4 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R4 a{
    text-decoration: none;
    color: black;
}
#R5{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R5 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R5 a{
    text-decoration: none;
    color: black;
}
#R5Head{
    background-color: white;
}
#R6{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R6 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R6 a{
    text-decoration: none;
    color: black;
}
#R6Head{
    background-color: white;
}
#R7{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R7 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R7 a{
    text-decoration: none;
    color: black;
}
#R7Head{
    background-color: white;
}
#R8{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R8 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R8 a{
    text-decoration: none;
    color: black;
}
#R8Head{
    background-color: rgb(254, 226, 204);
}
#R9{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R9 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R9 a{
    text-decoration: none;
    color: black;
}
#R9Head{
    background-color: rgb(254, 226, 204);
}
#R10{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R10 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R10 a{
    text-decoration: none;
    color: black;
}
#R10Head{
    background-color: rgb(255, 193, 8);
}
#R11{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R11 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R11Head{
    background-color: rgb(254, 226, 204);
}
#R12{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R12 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R12 a{
    text-decoration: none;
    color: black;
}
#R12Head{
    background-color: rgb(254, 226, 204);
}
#R13{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R13 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R13Head{
    background-color: white;
}
#R14{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R14 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R14 a{
    text-decoration: none;
    color: black;
}
#R14Head{
    background-color: rgb(254, 226, 204);
}
#R14Head h5 span{
    font-weight: 380;
    border-left: 1.5px solid rgba(0, 0, 0, 0.772);
}
#R15{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R15 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R15 a{
    text-decoration: none;
    color: black;
}
#R15Head{
    background-color: rgb(39, 96, 118);
}
#R16{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R16 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R16 a{
    text-decoration: none;
    color: black;
}
#R16Head{
    background-color: rgb(254, 226, 204);
}
#R17{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R17 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R17 a{
    text-decoration: none;
    color: black;
}
#R17Head{
    background-color: rgb(254, 226, 204);
}
#R18{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R18 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R18 a{
    text-decoration: none;
    color: black;
}
#R18Head{
    background-color: rgb(254, 226, 204);
}
#R19{
    column-gap: .5em;
    font-size: .88em;
    background-color: white;
}
#R19 > div:hover{
    transform: scale(1.02);
    border: thin solid rgba(0, 0, 0, 0.075);
}
#R19 a{
    text-decoration: none;
    color: black;
}
#R19Head{
    background-color: rgb(254, 226, 204);
}
#R20{
    background-color: white;
}
#R20C{
    font-size: .75rem;
}
#R20C a{
    font-weight: bold;
    color: black;
}
#R20C h1{
    font-size: 1.125rem;
}
#R20C h2{
    font-size: 1.125rem;
}
#R20C h3{
    font-size: .8775rem;
}
#footAppear{
    font-size: .625rem;
    /* padding: 2rem; */
}
#footAppear div{
    padding: .5rem;
}
#footAppear div a{
    width: 100%;
    text-wrap: nowrap;
    /* padding: rem; */
}
#Showmore{
    color: #F68B1E;
    text-decoration: none;
}
#Showmore:active{
    display: none;
}
#FR1{
    font-size: .75rem;
    color: white;  
}
#FR1C2 a{
    text-decoration: none;
    color: #F68B1E;
}
#FR1C2 form button:hover{
    border-color: #F68B1E;
    color: #F68B1E;
}
#footerFluid01{
    background-color: rgb(49, 49, 51);
}
#FR2{
    font-size: .75rem;
    color: white;  
}
#FR2 a{
    text-decoration: none;
    color: white;
    font-size: .75rem;
}
#FR2 > div > div{
    padding-block: .2em;
}
#FR2 a:hover{
    text-decoration: underline;
}
#footerFluid02{
    background-color: rgb(83, 83, 87);
}
#FR3 i{
    color: white;
    font-size: 1.3em;
}
#FR3 i:hover{
    color: #F68B1E;
}
